{% extends 'base.html' %}

{% block title %}
Home
{% endblock title%}

{% block body %}
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/img/c.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>Label</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta alias perferendis voluptates porro tenetur saepe aspernatur. Dolores, soluta necessitatibus laboriosam tempora rerum magnam veritatis aperiam quia est, blanditiis quos culpa.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/img/b.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>Label</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia dolore modi consectetur. Magni ab nam, soluta officiis, ullam ex optio ducimus delectus, quisquam tenetur veniam id velit eos ipsa unde.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/img/c.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>Label</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi error libero eaque odio illo tenetur esse culpa aut nemo nostrum dolores enim unde adipisci consequuntur minima, consectetur nihil nulla aspernatur.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<p style="text-align: center; margin: 20px; color:rgb(0, 78, 21);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis labore architecto minima perspiciatis illo, distinctio debitis saepe rem earum optio. Labore non odit repudiandae, consectetur, alias soluta ex amet doloremque quas dicta voluptates dolor? Porro similique maiores, reprehenderit illo est itaque odio officia quos quam! Sint excepturi, culpa suscipit perspiciatis dolorum nobis quasi, sed sequi officia facilis labore. Ab labore saepe facere, expedita fugit beatae alias rem velit nostrum esse corrupti ducimus quos dolorem harum soluta fuga enim quasi magni possimus neque error sint! At illum ad quam accusamus. Illo, rem? Impedit natus rem itaque placeat, nesciunt molestias eaque accusantium.</p>
<p style="text-align: center; margin: 20px; color:rgb(0, 78, 21);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi facilis, molestias nobis animi obcaecati praesentium maxime architecto aliquam nostrum a voluptatum porro nemo repellendus est odit voluptatem natus temporibus necessitatibus repellat labore rerum error delectus quas. Molestias, corrupti nemo. Ut repellat at explicabo consectetur, illo amet velit nam soluta iste!</p>
<p style="text-align: center; margin: 20px; color:rgb(0, 78, 21);">Nam dolores alias labore, quaerat tenetur expedita vitae nisi maxime illum quae, dolorem distinctio id optio modi laudantium magni provident voluptates vero ducimus totam in facilis cupiditate porro aut. Eius, sed? Itaque, repellendus et inventore, obcaecati rem, architecto deserunt consequatur rerum odio omnis laboriosam aliquam. Culpa consequuntur libero optio error?</p>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

{% endblock body %}